@charset "UTF-8";


/*-------------------타이틀-------------  */
#general_merchandise .top {
  font-size: 1.3rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 0px; }
  #general_merchandise .top .left h3 {
    margin: 0;
    display: inline-block; }
    #general_merchandise .top .left h3 .general_merchandise-title {
      font-size: 2.3rem;
      color: #333333;
      line-height: 50px; }
    #general_merchandise .top .left h3 .open-time {
      color: #008485; }
    #general_merchandise .top .left h3 .verticalLine {
      border-left: thin solid #cccccc;
      display: inline-block;
      margin-left: 9px;
      padding-left: 9px;
      font-size: 0.9em; }
  #general_merchandise .top .right {
    text-align: right;
  }
  #general_merchandise .top .right button {
    border-radius: 2px;
    padding: 6px 10px;
    position: relative;
    top: 10px;
    cursor: pointer; }
    #general_merchandise .top .right button.sortable {
      border: 1px solid #008485;
      background-color: white;
      color: #008485; }
    #general_merchandise .top .right button.selected {
      border: 1px solid #008485;
      background-color: #008485;
      color: white; }
    #general_merchandise .top .right button i:before {
      font-size: 1.3em;
      font-weight: 900; }
    #general_merchandise .top .right button i.icon-angle-down {
      position: relative;
      bottom: -1px; }
    #general_merchandise .top .right button i.icon-angle-up {
      position: relative; }
      
      
#general_merchandise .table {
  width: 100%;
  max-width: 100%;
  border: 0; }
  #general_merchandise .table .thead {
    height: 40px;
    background: rgba(230, 230, 230, 0.7);
    margin-bottom: 26px; }
    #general_merchandise .table .thead .th {
      padding: 10px;
      display: inline-block;
      text-align: center; }
      #general_merchandise .table .thead .th:first-child {
        width: 23%; }
      #general_merchandise .table .thead .th.th:nth-child(2), #general_merchandise .table .thead .th.th:nth-child(3), #general_merchandise .table .thead .th.th:nth-child(4), #general_merchandise .table .thead .th.th:nth-child(5), #general_merchandise .table .thead .th.th:nth-child(7) {
        width: 9.1%; }
      #general_merchandise .table .thead .th:nth-child(6) {
        width: 15.3%; }
        #general_merchandise .table .thead .th:nth-child(6) .verticalLine {
          right: 60px; }
      #general_merchandise .table .thead .th .verticalLine {
        border-left: thin solid #d9d9d9;
        display: inline;
        right: 26px;
        position: relative; }
/*-----------------------------------------------------------------  */      

  #general_merchandise .table .tbody .tr {
    border: 1px solid #dddddd;
    position: relative;
    display: block;
    margin: 15px 0;
    border-radius: 3px;
    height: 70px; }
    #general_merchandise .table .tbody .tr .tbody-head {
      display: inline-block;
      height: 100%;
/*       margin-left: 130px; */
       }
      #general_merchandise .table .tbody .tr .tbody-head .td {
        height: 100%; }
        #general_merchandise .table .tbody .tr .tbody-head .td:first-child .merchandise-idx {
          display: inline-block; }
        #general_merchandise .table .tbody .tr .tbody-head .td:first-child .merchandise-title {
          width: 300px;
          border-left: 1px solid #e6e6e6;
          overflow: hidden !important;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          margin-left: 5px;
          padding-left: 5px;
          font-weight: 500;
          }
        #general_merchandise .table .tbody .tr .tbody-head .td a {
          color: #404040;
          display: inline-flex;
          margin: 23px;
         }
    #general_merchandise .table .tbody .tr .tbody-body {
      display: inline-flex;
      width: 77%;
      position: absolute;
      top: 8%;
      left: 255px; }
      #general_merchandise .table .tbody .tr .tbody-body .td:not(:nth-child(5)) {
        display: inline-block;
        padding: 0;
        width: 14%;
        margin: 0px;
        text-align: center; }
      #general_merchandise .table .tbody .tr .tbody-body .td:nth-child(5) {
        display: inline-block;
        padding: 0;
        width: 19%;
        margin: 0px 10px;
        text-align: center;
        letter-spacing: -0.5px;
        display: flex;
    	justify-content: center;
        }
        #general_merchandise .table .tbody .tr .tbody-body .td:nth-child(5) .slash {
          color: #dddddd; }
      #general_merchandise .table .tbody .tr .tbody-body .td:last-child {
        display: inline-block;
        padding: 0;
        width: 25%;
        margin: 0px;
        text-align: center; }
      #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate {
        color: #ffffff !important;
        font-weight: bold;
        font-size: 2rem; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .outer-circleA {
          border: 1px solid #29aae2;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          display: inline-block; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .outer-circleB {
          border: 1px solid #17c495;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          display: inline-block; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .outer-circleC {
          border: 1px solid #f4c508;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          display: inline-block; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .outer-circleS {
          border: 1px solid #ff981e;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          display: inline-block; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .funda-grade-circleA {
          background-color: #29aae2;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          line-height: 25px;
          font-size: 15px;
          text-align: center;
          margin: 1px auto;
          display: flex;
          justify-content: center;
          align-items: center; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .funda-grade-circleB {
          background-color: #17c495;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          line-height: 25px;
          font-size: 15px;
          text-align: center;
          margin: 1px auto;
          display: flex;
          justify-content: center;
          align-items: center; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .funda-grade-circleC {
          background-color: #f4c508;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          line-height: 25px;
          font-size: 15px;
          text-align: center;
          margin: 1px auto;
          display: flex;
          justify-content: center;
          align-items: center; }
        #general_merchandise .table .tbody .tr .tbody-body .td .mainpage_funda_rate .funda-grade-circleS {
          background-color: #ff981e;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          line-height: 25px;
          font-size: 15px;
          text-align: center;
          margin: 1px auto;
          display: flex;
          justify-content: center;
          align-items: center; }
      #general_merchandise .table .tbody .tr .tbody-body dl {
        display: inline-flex;
        margin: 0;
        padding: 0;
        width: 100%;
		margin-left: 150px;
        }
        .tr{
        box-sizing: border-box;
        }
        #general_merchandise .table .tbody .tr .tbody-body dl .td button.detail-btn {
          border: 1px solid #bfbfbf;
          border-radius: 3px;
          color: #666666;
          margin: 0 auto;
          display: block;
          width: 200px;
          padding: 3px 0;
          background-color: #ffffff;
          font-size: 15px; 
         }
          #general_merchandise .table .tbody .tr .tbody-body dl .td button.detail-btn:hover {
            font-weight: 600; }
          #general_merchandise .table .tbody .tr .tbody-body dl .td button.detail-btn.single {
            border: 1px solid #008485;
            color: #008485;
            padding: 17px 0; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td button.invest-btn {
          border: 1px solid #008485;
          border-radius: 3px;
          color: #008485;
          margin: 2px auto;
          display: block;
          width: 200px;
          padding: 3px 0;
          background-color: #ffffff;
          font-size: 15px;
          }
          #general_merchandise .table .tbody .tr .tbody-body dl .td button.invest-btn.completed {
            background-color: #008485;
            color: #ffffff; }
          #general_merchandise .table .tbody .tr .tbody-body dl .td button.invest-btn:hover {
            font-weight: 600; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td:nth-child(2) img {
          width: 24%;
          top: -4px;
          position: relative; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td:nth-child(2) dd, #general_merchandise .table .tbody .tr .tbody-body dl .td:nth-child(3) dd, #general_merchandise .table .tbody .tr .tbody-body dl .td:nth-child(4) dd, #general_merchandise .table .tbody .tr .tbody-body dl .td:nth-child(5) dd {
          top: 16px; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td:nth-child(6) dd {
          top: 9px; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td dd {
          position: relative;
          top: 13px; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td dt {
          display: none; }
        #general_merchandise .table .tbody .tr .tbody-body dl .td:last-child dd {
          top: 7px; }

          
table, th, td{
	background-color: white;
	color: #8e8e8e;
	padding: 0 10px;
/* 	width: 200px; */
	text-align: center;
}
thead{
	background-color: rgba(230, 230, 230, 0.7);
	height: 30px;
	background-color: #2F3238;
	width: 100%;
	
}

tbody{
	border: 1px #8e8e8e solid;
	height: 50px;
	border-radius: 10px;
	width: 100%;
}
.detailBtn{
	background-color: white;
	border-radius: 5px;
	border: 1px #8e8e8e solid;
	color: #8e8e8e;
	width: 100px;
	padding: 2px 10px;
	font-size: 15px;
}

.investBtn{
	background-color: white;
	border-radius: 5px;
	border: 1px #008485 solid;
	color: #008485;
	width: 100px;
	padding: 2px 10px;
	font-size: 15px;
}

#modal {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
}

#modal h2 {
  margin:0;   
}

#modal button {
  display:inline-block;
  width:100px;
  margin-left:calc(100% - 100px - 10px);
}

#modal .modal_content {
  width:300px;
  margin:100px auto;
  padding:20px 10px;
  background:#fff;
  border:2px solid #666;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}   

.modal-body{
	display: inline-block;
}

.expose p{
	text-align: left;
}
.newP2Pform{
	border: 1px solid #dddddd;
}
.newP2Pform th{
	background: rgba(230, 230, 230, 0.7);
}
.adminBtn{
	height: 50px;
	border: none;
	border-radius: 3px;
	color: white;
	width: 200px;
	background-color:#008485;
	font-size: 15px;
}
#newP2PNo{
	width: 50px;
}

/* chart */

.p2pChart{
	display: flex;
}
.basicChart table, th, td{
	width: 800px;
	margin: 0 auto;
}
.chart_item_digit{
	color: black;
	font-weight: 700;
}
.chartIcon{
	width: 100px;
}
.genderChart table, th, td{
	width: 600px;
	margin: 0 auto;
}
.generationChart{
	display: flex;
}
.chart h3{
	text-align: center;
	background-color: #A5C5C3;
	padding: 10px;
	color: white;
	
}