@charset "UTF-8";

ul#profile_summary {
    margin: 10px 0;
    padding: 4px;
    list-style: none;
    text-transform: uppercase;
    /* font-weight: 600; */
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

ul#cat_nav li a {
    display: block;
    padding: 15px 35px 15px 25px;
    
}

ul#cat_nav li a {
    position: relative;
    color: #777;
}

ul#cat_nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#cat_nav li a:hover, ul#cat_nav li a#active, ul#cat_nav li a.active {
    background: #A5C5C3;
    color: #111;
}
a {
    /*color: #25AAE1;*/
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
}
.margin_60 {
    padding-top: 60px;
    padding-bottom: 80px;
}

.hr-small { margin-top: 12px; margin-bottom: 12px; }
			.funding-ing { font-size: 1.1em; }
			.funding-ing small:last-child{ float: right; margin-right: 10px; }
			.funding-ing li { padding: 5px 0px; }
			.funding-ing button { padding: 0px 12px; }
			.table_repayment .element > td{ padding: 7px 0px 7px 10px; font-size: 0.99em;}
			@media(max-width: 768px) {
                .funding-ing span:first-child {
                    display: block;
                }
			}
            .table .account-1 td:last-child { padding-top: 0px; padding-bottom: 6px; }
            .table .account-1 td { padding: 8px 0 0; border-bottom: 2px solid #ddd; }
            .table-deposit-account > tbody > tr > td {
                padding: 14px 0px;
                line-height: 1.428571399;
            }
            .table-deposit-account .element > td {
                padding: 7px 0px 7px 10px;
                font-size: 0.9em;
            }
            #investment_summary {
                border: none;
            }
            #investment_summary th:not(:first-child), #investment_summary td:not(:first-child) {
                text-align: right;
                padding-right: 20px;
                width: 150px;
                max-width: 150px;
            }
            #investment_summary td {
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }
            #investment_summary th:first-child, #investment_summary td:first-child {
                text-align: left;
            }
            #investment_summary td:first-child, #investment_summary td:last-child{
                border-left: none;
                border-right: none;
            }
            #investment_summary tfoot th, #investment_summary tfoot td {
                border: none;
                border-top: 2px solid #ddd;
                font-weight: bold;
            }
            #status_summary th, #status_summary td {
                text-align: center;
            }


.review_strip {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    padding: 30px 20px 20px 30px;
    padding: 30px 25px 20px 25px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.review_strip img {
    top: -15px;
    position: absolute;
    left: 25px;
    border: 4px solid #fff;
}

.review_strip h4 {
    font-size: 18px;
    margin: -10px 0 15px 0px;
    padding: 0;
}

.review_strip p {
    margin-bottom: 10px;
}

.review_strip .rating {
    font-size: 16px;
}

.rating {
    font-size: 18px;
}

.rating small {
    font-size: 12px;
    color: #CCC;
}

.rating .voted {
    color: #218edf;
}

.review_strip a{
	cursor: pointer;
	color: #008485;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
}
#detail-btn{
	border: 1px solid #bfbfbf;
    border-radius: 3px;
    color: #666666;
    margin: 10px auto;
    display: block;
    width: 60%;
    padding: 3px 0;
    background-color: #ffffff;
    font-size: 15px;
}

<!-- 모달 창 -->
#accountCheck{
	display: none;
}