.investForm{
	width: 800px;
	margin: 0 auto;
}
.inputBox{
	width:350px;
	border: 1px solid #ddd;
    border-radius: 4px;
	padding: 5px 10px;
}
.subForm{
	display:flex;
}
.subForm1{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 90px;
}
.subForm2{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 30px;
}
.orderBtn{
	width: 100%;
	background-color: #008485;
	color: white;
	height: 70px;
	padding: 5px 10px;
	margin: 20px 0;
	border: none;
	border-radius: 4px;
}
.agreeBox{
	border: none;
	border-bottom: 1px solid #ddd;
	width: 40px;
}
.textarea{
	resize: none;
	width: 100%;
	border: 1px solid #ddd;
    border-radius: 4px;
    height: 300px;
}
.investForm h6{
	color: #8e8e8e;
}
.investForm h4{
	font-weight: bold;
}
.result{
	text-align: center;
}
.checkImg{
	width: 80px;
	height: auto;
}
.result table{
	width: 900px;
	margin: 0 auto;
	border: none !important;
}
.result th{
	border-bottom: 1px solid black;
	text-align: left;
	padding: 15px;
}
.result td{
	text-align: left;
	padding: 15px;
}

.result .td1{
	width: 80%;
}
.result .td2{
	width: 20%;
}

.orderCompleteBtn{
	border: none;
	background-color: #008485;
	color: white;
	padding: 10px 20px;
	width: 250px;
	height: 80px;
	margin: 20px;
}

.agreementInfo{
	border: 1px gray solid;
	width: 800px;
	margin: 0 auto;
}